<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forgerock_oauth_client_id</key>
	<string>mobileapp</string>
	<key>forgerock_oauth_redirect_uri</key>
	<string>mobileapp://oidc_callback</string>
	<key>forgerock_oauth_scope</key>
	<string>openid uid</string>
	<key>forgerock_oauth_url</key>
	<string>https://wavedev.frdpcloud.com/openam</string>
	<key>forgerock_oauth_threshold</key>
	<string>60</string>
	<key>forgerock_url</key>
	<string>https://wavedev.frdpcloud.com/openam</string>
	<key>forgerock_realm</key>
	<string>root</string>
	<key>forgerock_timeout</key>
	<string>60</string>
	<key>forgerock_auth_service_name</key>
	<string>13i-DeviceRiskAssessment</string>
	<key>forgerock_registration_service_name</key>
	<string>sdkRegistrationTree</string>
</dict>
</plist>
